<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GlobalSetting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <GlobalSetting.Properties.Settings>
            <setting name="安装路径" serializeAs="String">
                <value />
            </setting>
            <setting name="VRSteam教室" serializeAs="String">
                <value>VRSteam教室\VRSteam教室</value>
            </setting>
            <setting name="串联电路" serializeAs="String">
                <value>串联电路\串联电路</value>
            </setting>
            <setting name="单摆" serializeAs="String">
                <value>单摆\单摆</value>
            </setting>
            <setting name="弹力" serializeAs="String">
                <value>弹力\弹力</value>
            </setting>
            <setting name="电磁" serializeAs="String">
                <value>电磁\电磁</value>
            </setting>
            <setting name="浮力" serializeAs="String">
                <value>浮力\浮力</value>
            </setting>
            <setting name="光合呼吸作用" serializeAs="String">
                <value>光合 呼吸作用\光合和呼吸作用</value>
            </setting>
            <setting name="滑轮组" serializeAs="String">
                <value>滑轮组\滑轮组</value>
            </setting>
            <setting name="化学分子式" serializeAs="String">
                <value>化学分子式\化学分子式</value>
            </setting>
            <setting name="摩擦力" serializeAs="String">
                <value>摩擦力\摩擦力</value>
            </setting>
            <setting name="人体解剖" serializeAs="String">
                <value>人体解剖\人体解剖</value>
            </setting>
            <setting name="拆车" serializeAs="String">
                <value>拆车\拆车</value>
            </setting>
            <setting name="磁生电" serializeAs="String">
                <value>磁生电\磁生电</value>
            </setting>
            <setting name="汉语乐园" serializeAs="String">
                <value>汉语乐园\汉语乐园</value>
            </setting>
            <setting name="水果忍者" serializeAs="String">
                <value>水果忍者\水果忍者</value>
            </setting>
            <setting name="太阳系" serializeAs="String">
                <value>太阳系\太阳系</value>
            </setting>
            <setting name="正常眼" serializeAs="String">
                <value>眼球实验实物识别\正常人眼\正常人眼</value>
            </setting>
            <setting name="近视眼" serializeAs="String">
                <value>眼球实验实物识别\近视眼\近视眼</value>
            </setting>
            <setting name="远视眼" serializeAs="String">
                <value>眼球实验实物识别\远视眼\近视眼</value>
            </setting>
            <setting name="折射实验" serializeAs="String">
                <value>折射实验\折射物理实验</value>
            </setting>
        </GlobalSetting.Properties.Settings>
    </userSettings>
</configuration>
